/*
==========================================
Headers
==========================================
*/

header {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	color: #fff;

	video {
		width: auto;
		height: auto;

		// min-width: 100%;
		// min-height: 100%;
		// position: absolute;
		// z-index: -1;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);

		// OR INSTEAD THIS:

		// min-width: 100%;
		min-height: 100%;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);
	} // video

} // header

.headerCover {
	width: 100%;
	height: 100%;
	padding: 70px 0;
	background: rgba(80, 80, 80, 0.15);
} // .headerCover

.headerInfo {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 54%;
	transform: translateY(-50%);

	h1:nth-child(2) {
		text-transform: lowercase;
		font-size: 1.5em;
		margin-top: 10px;
		position: relative;
		top: 10px;
		font-weight: 400;
	}

	.orchard {
		width: 100%;
		max-width: 270px;
		margin: 0 auto 20px auto;

		img {
			width: 100%;
		}
	} // .orchard

} // .headerInfo

.showDetails {
	max-width: 700px;
	margin: 0 auto;

	h2:first-of-type {
		margin-bottom: 5px;
	}

	span {
		margin: 0 30px;
		text-transform: lowercase;
	}

	.sponsor {
		margin-top: 20px;

		p,
		img {
			display: inline-block;
			vertical-align: middle;
		}

		img {
			max-width: 130px;
			margin-left: 10px;
		}
	} // .sponsor

} // .showDetails




/* =================================
====================================
Media Queries */

@media (min-width: 1450px) {

	header video {
			max-width: none;
			min-width: 130%
	}

} // @media (min-width: 1450px)

@media (max-width: 1000px) {

	header {

		video {
			left: 20%;
			max-height: 120%;
		}
	} // header

} // @media (min-width: 1000px)

@media (max-width: 600px) {

	header {

		video {
			left: 15%;
		}
	} // header

} // @media (min-width: 600px)