/*
==========================================
Headers
==========================================
*/

header {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	color: #fff;
	background:#000 url('../images/headerBackground.jpg') center center no-repeat;
	background-size: cover;

	// .smallScreen {
	// 	display: none;
	// }

	video {
		width: auto;
		height: auto;

		// min-width: 100%;
		// min-height: 100%;
		// position: absolute;
		// z-index: -1;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);

		// OR INSTEAD THIS:

		// min-width: 100%;
		min-height: 125%;
		position: absolute;
		// z-index: -1;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);
	} // video

} // header

.headerCover {
	width: 100%;
	height: 100%;
	background: rgba(80, 80, 80, 0.15);
} // .headerCover

.headerInfo {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 54%;
	transform: translateY(-50%);

	h1:nth-child(2) {
		text-transform: lowercase;
		font-size: 1.5em;
		margin-top: 10px;
		position: relative;
		top: 10px;
		font-weight: 400;
	}

	.orchard {
		width: 100%;
		max-width: 270px;
		margin: 0 auto 20px auto;

		img {
			width: 100%;
		}
	} // .orchard

} // .headerInfo

.showDetails {
	max-width: 700px;
	margin: 0 auto;

	h2 {
		font-weight: 400;

		&:first-of-type {
			margin-bottom: 5px;
		}

		&:last-of-type {
			font-size: 1em;
		}
	} // h2

	span {
		margin: 0 30px;
		text-transform: lowercase;
	}

	.sponsor {
		margin: 20px 0 40px 0;

		p,
		img {
			display: inline-block;
			vertical-align: middle;
		}

		img {
			max-width: 130px;
			margin-left: 10px;
		}
	} // .sponsor

} // .showDetails




/* =================================
====================================
Media Queries */

@media (min-width: 1450px) {

	header video {
			min-width: 130%
	}

} // @media (min-width: 1450px)

// *** NOTE: MAYBE REMOVE SOME OF THESE STYLES WHEN THE SITE IS MORE FLESHED-OUT ***
@media only screen and (max-device-width: 1000px) {

	header {
		height: auto;
		min-height: 100vh;

		video {
			display: none;
		}

	} // header

	.headerCover {
		padding: 50px 0;
		min-height: 100vh;
	} // .headerCover

	.headerInfo {
		position: static;
		transform: none;
	} // .headerInfo

} // @media only screen and (max-device-width: 1000px)

@media (max-width: 1000px) {

	header {

		video {
			left: 20%;
			max-height: 120%;
		}
	} // header

} // @media (min-width: 1000px)

@media (max-width: 600px) {

	header {

		video {
			left: 15%;
		}
	} // header

	.headerInfo {
		top: 50%;
	} // .headerInfo

	.showDetails {

		span {
			margin: 0 20px;
		}
	} // .showDetails

} // @media (min-width: 600px)

@media (max-width: 425px) {

	.headerInfo {
		width: 95%;
	} // .headerInfo

	.showDetails {

		span {
			margin: 0 5px;
		}
	} // .showDetails

} // @media (min-width: 425px)